.nightmare_popup_container{
    position: absolute;
    bottom: 0;
    background-color: var(--greyColor);
    /* right: 0; */
    width: 40%;
    display: flex;
    margin: 20px;
    z-index: 20;
    border-radius: 10px;
    transition: 0.4s;
}

.nightmare_popup_container .top{
    background: url('../../../assets/image/gif/nightmare.gif') 0px 370px;
    background-size: cover;
    /* height: 100%; */
    width: 50%;
    border-radius: 20px 0px 0px 20px;
}

.nightmare_popup_container .bottom{
    padding: 20px;
    width: 50%;
}

.nightmare_popup_container small{
    font-size: 10px;
    opacity: 0.4;
}

.nightmare_shorcut{
    font-size: 10px;
    margin-top: 15px;
    width: 110px;
    text-align: center;
    border-radius: 60px;
    background-color: rgb(0, 107, 221);
    color: #fff;
    padding: 3px 8px;
    transition: .7s ease;
}

@media screen and (max-width: 800px){
    .nightmare_popup_container{
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        width: 90%;

    }   

    .nightmare_popup_container .bottom{
        padding: 20px;
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    
    .nightmare_popup_container .top{
        background-position: 0px 00px;
        width: 30%;
    }
}

@media screen and (max-width: 450px){
    .nightmare_popup_container .bottom{
        width: 100%;
    }
    .nightmare_popup_container .top{
        width: 0%;
        display: none;
    }

    .banner_item{
        margin-bottom: 4000px;
    }

    .banner_item p{
        display: none;
    }

    .banner{
        flex-direction: column-reverse;
        margin: 20px;
        align-items: center;
    }

    .banner_item .left, .banner_item .right{
        width: 100%;
    } 

    .banner_item .right{
        height: 300px;
    }

    .service_content h1{
        font-size: 120%;
    }
}

.nightmare_shorcut:hover{
    background-color: var(--PrimaryColor);
}
