.notFound_container{
    height: 100vh;
    width: 100vw;
    background-color: red;
    background-size: cover;
}

.notFound_item{
    width: 60%;
    height: 100%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: center;
}

.NotFound_illustration{
    background-color: transparent;
    width: 80%;
}

.NotFound_text{
    margin-bottom: 30px;
    color: var(--DarkFontColor);
    opacity: .6;
    font-size: 13px;
}

.NotFound_title{
    color: var(--DarkFontColor);
}

.notFound-btn{
    /* margin-top: 20px; */
    text-decoration: none;
    font-size: 14px;
    color: var(--AllwhiteColor);
    background-color: var(--PrimaryColor);
    padding: 13px 30px;
    border-radius: 40px;
    transition: .3s ease-in-out;
}

.notFound-btn:hover{
    background-color: var(--color1);
}


@media screen and (max-width: 600px){
    .NotFound_Illustration{
        width: 200px;
    }

    .notFound-btn{
        transition: .3s ease-in-out;
    }

    .NotFound_text{
        font-size: 8px;
    }
    
}

@media screen and (max-width: 450px){
    .NotFound_Illustration{
        width: 100px;
    }

    .notFound-btn{
        font-size: 7px;
    }
    
}